General:
  OutputFile: "Test.root"
  TutorialSamples:  [
                    "TutorialConfigs/Samples/SampleHandler_Tutorial.yaml",
                    #"TutorialConfigs/Samples/SampleHandler_Tutorial_ATM.yaml",
                    #"TutorialConfigs/Samples/SampleHandler_Tutorial_ND.yaml"
                      ]
  FittingAlgorithm: "MR2T2"

  RealData: false
  Asimov: true
  CustomReWeight: false
  FakeData: false
  ProcessMCMC: No
  Debug: No
  
  RandomStart: false
  Seed: 0
  MaCh3Modes: "TutorialConfigs/MaCh3Modes.yaml"
  Fitter:
    FitTestLikelihood: false
  Minuit2:
    NSteps: 100000
  PSO:
    Constriction: 1
    Inertia: 1.
    One: 1.
    Two: 1.
    Particles: 10
    Iterations: 10000
    Convergence: 1.
    TestLikelihoodDim: 9

  MCMC:
    NSteps: 10000
    #KS: Sets how frequent (number of steps) you want to autosave your chain, if you autosave rarely chain will be slightly faster, if you job wall is small you might want more frequent autosave to reduce number of lost steps
    AutoSave: 10000

    # Example Delayed Rejection settings [use FittingAlgorithm=DelayedMR2T2]
    PrintSummary: False
    # Delayed rejection MCMC
    # Step scale for first delayed step = initial_scale * scale in parameter handler
    initial_scale: 1 
    # Each delayed step is previous scale * decay rate
    DecayRate: 0.1
    # Delayed only if steps are OOB [recommend False]
    DelayOnlyOutBounds: False
    # Only do delayed rejection if step is out of bounds (less efficient)
    DelayProbability: 1.0
    # Number times to propose additional steps/full step
    MaxRejections: 1
    # Initial step size scale (relative to parameter sigma) for first proposal
    # InitialScale: 1
    # If a step is rejected, do we want to keep flipping for delayed steps?
    # KeepFlippingOnReject: True
  Systematics:
    XsecCovName: "xsec_cov"
    XsecFix: [ "baseline", "density", "Ye", "prod_height" ]
    XsecCovFile: ["TutorialConfigs/CovObjs/SystematicModel.yaml",
                  "TutorialConfigs/CovObjs/OscillationModel.yaml",
                  ]
    XsecPCAThreshold: -1
    XsecPCAParams: [-999, -999]
    XsecStepScale: 0.05

# Prior/Posterior predictive settings
Predictive:
  Ntoy: 1000
  #Use Full LLH or only sample contribution based on discussion with Asher we almost always only want the sample likelihood
  FullLLH: false
  # If false will run posterior predictive
  PriorPredictive: false
  # number of burn in steps
  BurnInSteps: 1000
  # Name of file from which we are sampling
  PosteriorFile: "Test.root"
  # Allow to specify to throw/vary only params coming from single group like Xsec. Allow to evalauete errors coming from this group. Can't be mixed with throw single param
  ThrowParamGroupOnly: []
  ThrowSinlgeParams: []
  DebugHistograms: true

# LLH Scan settings  
LLHScan:
  # don't make LLH for certain systematic groups
  #LLHScanSkipVector: []
  # Save individual sample contributions to the LLH
  LLHScanBySample: true
  # Number of points we run LLH scans for each systematic
  #LLHScanPoints: 50
  # Number of points for 2D scan in each direction
  #2DLLHScanPoints: 20
  # Add physical ranges for special params whose priors/errors may not be well well-defined
  ScanRanges:
    #delta_cp: [-3.14,3.14]

SigmaVar:
  SigmaArray: [-3, -1, 0, 1, 3]
  SkipVector: []

  CustomRange:
    Norm_Param_0:
      "-3": 0.25
      "-1": 0.5
      "1": 1.25
      "3": 1.5

#KinemDistribution extra plots to draw
KinematicDistributionPlots:
- Name: "True Neutrino Energy (0.5 GeV < Enu < 3 GeV)"
  VarStrings: ["TrueNeutrinoEnergy"]
  VarBins: [[40,0,4]]
  KinematicCuts:
  - VarString: "TrueNeutrinoEnergy"
    Range: [0.5,3]
- Name: "Q2 vs True Enu"
  VarStrings: ["TrueNeutrinoEnergy", "TrueQ2"]
  VarBins: [[50,0,4],[50,0,6]]

AdaptionOptions:
  Settings:
    StartThrow: 1000     # [int] At which step do we start throwing from our new matrix?
    StartUpdate: 1    # [int] At which step do we start adding steps to the covariance matrix?
    EndUpdate: 10000      # [int] At which step do we stop adding steps + fix the covariance matrix?
    UpdateStep: 1000     # [int] How often do we want to update i.e. change matrix we're throwing from?
    SaveNIterations: 10000  # [int] How often do we want to save this to file
    OutputFileName: "Adapt.root" # [str] Name of the file containing the matrix

    # Robbins Monroe adaption settings
    UseRobbinsMonro: False # Do we use this along with adaption 
    TargetAcceptance: 0.234 # Target acceptance rate
    TotalRobbinsMonroRestarts: 5 # How many times do we restart the Robbins Monroe count
    AcceptanceRateBatchSize: 5000 # How often do we restart the Robbins Monroe count

  Covariance:
    xsec_cov: # Name of covariance matrix
      DoAdaption: False  # [bool] Adapt this parameter
